[Desktop Entry]
Version=1.0
Name=Music
Comment=Music Player
Exec=/usr/bin/qmlscene /usr/share/musicapp/MusicApp.qml
Icon=/usr/share/musicapp/images/music.png
Terminal=false
Type=Application
StartupNotify=true
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
