[Desktop Entry]
Encoding=UTF-8
Version=0.2.2
Name=Music
Comment=Ubuntu Touch Music Player
Exec=/usr/bin/qmlscene /usr/share/music-app/music-app.qml
Icon=/usr/share/music-app/images/music.png
Terminal=false
Type=Application
StartupNotify=true
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=music-app
Name[sv_SE]=Musik
