Source: music-app
Section: misc
Priority: extra
Maintainer: Michael <mhall119@ubuntu.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://launchpad.net/music-app

Package: music-app
Architecture: all
Depends: ${misc:Depends},grilo-plugins-0.2-mediascanner,qtdeclarative5-qtgrilo0.1,qtdeclarative5-qtpowerd0.1 (>= 0.2~),qtdeclarative5-localstorage-plugin,qtdeclarative5-particles-plugin,qtdeclarative5-qtmultimedia-plugin,qtdeclarative5-qtquick2-plugin,qtdeclarative5-ubuntu-ui-toolkit-plugin|qt-components-ubuntu,qtdeclarative5-window-plugin,qtdeclarative5-xmllistmodel-plugin,${shlibs:Depends},qmlscene
Description: Music player for Ubuntu Touch
 Touch enabled music player for Ubuntu

Package: music-app-autopilot
Architecture: all
Depends: libautopilot-qt,
         libqt5test5,
         python-mock,
         music-app (= ${source:Version}),
         ubuntu-ui-toolkit-autopilot,
         gstreamer0.10-fluendo-mp3,
         gstreamer1.0-fluendo-mp3
Description: Autopilot tests for Music App
 This package contains the autopilot tests for the Music App
