#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_install:
        tests/autopilot/install_autopilot.sh $(CURDIR)
        dh_install --fail-missing
        appname=music-app; \
        for pofile in $(shell find ./po -name "*.po"); do \
                pofilename="$${pofile##*/}"; \
                langcode="$${pofilename%.*}"; \
                localedir="debian/$$appname/usr/share/locale/$$langcode/LC_MESSAGES"; \
                mkdir -p $$localedir; \
                mofile="$$localedir/$$appname.mo"; \
                msgfmt -o $$mofile $$pofile; \
        done
